!URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
!URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.font:     xft:FuraCode Nerd Font Mono:style=light:size=10:antialias=true
URxvt.boldFont: xft:FuraCode Nerd Font Mono:style=bold:size=10:antialias=true
URxvt.scrollBar: 0
URxvt*depth: 32
! My original dark/green scheme.
!URxvt*background: rgba:0000/0000/0200/c800
!URxvt*foreground:  #00aa00 // green                                         
!URxvt*color0:  #001000 // green
!URxvt*color1:  #B40000 // red
!URxvt*color2:  #00AA00 // green
!URxvt*color3:  #AAAA00 // yellow
!URxvt*color4:  #5555AA // blue
!URxvt*color5:  #603030 // magenta
!URxvt*color6:  #00AAAA // cyan
!URxvt*color7:  #AAAAAA // white
!URxvt*color8:  #555555 // black (now and below: bright)
!URxvt*color9:  #500000 // red
!URxvt*color10: #00FF00 // green
!URxvt*color11: #FFFF00 // yellow
!URxvt*color12: #6464FF // blue
!URxvt*color13: #FF00FF // magenta
!URxvt*color14: #00FFFF // cyan
!URxvt*color15: #FFFFFF // white

! Color-scheme snipped from tilix, also darkish - slightly tweaked
URxvt*background: #1E1E1E
URxvt*foreground: #A7A7A7
URxvt*color0: #1E1E1E
URxvt*color1: #CF6A4C
URxvt*color2: #8F9D6A
URxvt*color3: #F9EE98
URxvt*color4: #7587A6
URxvt*color5: #9B859D
URxvt*color6: #AFC4DB
URxvt*color7: #A7A7A7
URxvt*color8: #2E3436
URxvt*color9: #CF6A4C
URxvt*color10: #8F9D6A
URxvt*color11: #F9EE98
URxvt*color12: #7587A6
URxvt*color13: #9B859D
URxvt*color14: #AFC4DB
URxvt*color15: #FFFFFF


XTerm.vt100.background:  #010101
XTerm.vt100.foreground:  #aaaaaa
XTerm.vt100.color0:  #bbbbbb
XTerm.vt100.color1:  #cccccc
XTerm.vt100.color2:  #dddddd
XTerm.vt100.color3:  #aaaaaa
XTerm.vt100.color4:  #555555 
XTerm.vt100.color5:  #606060 
XTerm.vt100.color6:  #888888 
XTerm.vt100.color7:  #b0b0b0 
XTerm.vt100.color8:  #555555 
XTerm.vt100.color9:  #323232 
XTerm.vt100.color10: #d0d0d0 
XTerm.vt100.color11: #ffffff 
XTerm.vt100.color12: #646464 
XTerm.vt100.color13: #ffffff 
XTerm.vt100.color14: #707070 
XTerm.vt100.color15: #ffffff 


Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!UXTerm*faceName: Bitstream Vera Serif Mono
UXTerm*faceName: Source Code Pro
UXTerm*faceSize: 9 
UXTerm*background: #000000
UXTerm*foreground: #00aa00
UXTerm.vt100.color0:  #001000 
UXTerm.vt100.color1:  #B40000 // red
UXTerm.vt100.color2:  #00AA00 // green
UXTerm.vt100.color3:  #AAAA00 // yellow
UUXTerm.vt100.color4:  #5555AA // blue
!UXTerm.vt100.color5:  #AA00AA // magenta
UXTerm.vt100.color5:  #909090 // magenta
UXTerm.vt100.color6:  #00AAAA // cyan
UXTerm.vt100.color7:  #AAAAAA // white
UXTerm.vt100.color8:  #555555 // black (now and below: bright)
!UXTerm.vt100.color9:  #FF0000 // red
UXTerm.vt100.color9:  #500000 // red
UXTerm.vt100.color10: #00FF00 // green
UXTerm.vt100.color11: #FFFF00 // yellow
UXTerm.vt100.color12: #6464FF // blue
UXTerm.vt100.color13: #FF00FF // magenta
UXTerm.vt100.color14: #00FFFF // cyan
UXTerm.vt100.color15: #FFFFFF // white

